h2
{
    color: rgb(112, 37, 182);
}
body
{
    background-color: yellow;
   
}
.for_index_and_summary
{
    background-color: yellow;
    
}
footer
{
    background-color: chartreuse;
    border-top: solid 4px grey;
    
}
header 
{
    background-color:aqua;
}

main 
{
    background-color: cornsilk; 

}
h1, h2, h3, h4, h5, h5, h6
{
    text-shadow: rgb(26, 26, 26) 5px 0 10px;
}

li a 
{
    color:brown
}
.images 
{
    border: 20px solid darkgray;
}
button 
{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(177, 61, 158);
    background-color: pink;
}
.for-form
{
    background-color: rgba(39, 163, 5, 0.718);
}

.program article 
{
    background: #fff;
}
.program article h5
{
    color:rgb(177, 61, 158);
}

.author p
{
    color: rgba(47, 47, 47, 0.629);
}
.form 
{
    box-shadow: 3px 3px rgba(25, 0, 255, 0.448), -1em 0 .4em olive;
    border: 5px solid rgb(255, 42, 202);
    background-color: rgb(158, 231, 136);
}

.styleButton 
{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(22 116 92);
    background-color: rgb(186, 226, 127);
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 70%);
}
.ButtonForm 
{
    color: rgb(0, 0, 0);
}
.no_select 
{
    border: solid 1px red;
}
.select
{
    
    border:solid 1px red;
}

.theme
{

    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-theme[data-theme="dark"]
{
    display: block;
}
.change-theme[data-theme="light"]
{
    display: none;
}